#mesa {
  margin-bottom: 550px;

  .mesa {
    border: 1px solid #ccc;

    .card {
      position: relative;

      .resposta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        .nome, .horas, .texto-horas {
          color: #000;
          font-size: 1em;
          width: 100%;
          text-align: center;
          margin: 0;
        }

        .horas {
          font-size: 4em;
        }
      }

      .img-card {
        width: 200px;
        height: 200px;
        border: 3px solid orange;
        border-radius: 10px;
      }
    }
  }
}

md-chips md-chip {
  background: #318000 !important;
  color: #fff !important;
  font-weight: normal !important;
}

.fullWidth {
  width: 100%;
}

.logo {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;

  img {
    width: 300px;
  }
}

.login {
  margin: 10% auto;

  md-input-container {
    width: 97%;
  }
}

.text-center {
  text-align: center;
}

a {
  color: inherit;
}

.text-right {
  text-align: right;
  margin-right: 20px;
  float: right;
}

.text-left {
  float: left;
  text-align: left;
  margin-left: 20px;
}

.cards-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: white;

  .btn-jogar {
    float: left;
  }

  .self-cards {
    height: 150px;
    overflow: hidden;
  }
}


.chat {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #ccc;
  height: 500px;
  overflow-y: scroll;

  .panel {
    background: #6c7aca;
  }

  p {
    font-size: 0.8em;
    width: 100%;
  }
}



.self-cards {
  md-card {
    height: 140px;

    md-card-title {
      height: 40px;
    }
  }
}
